main#MentionLegale {
    h1 {
        width: 95vw;
        // background-color: green;
        line-height: 2.5;
        margin: 5rem auto;
        border-bottom: 0.3rem solid #7c7e81;
    }
    section {
        &#MentionLegales {
            display: flex;
            flex-direction: column;
            // border: solid 1rem;
            align-items: center;
            heigth: 80vh;
            min-height: 80vh;
            article {
                min-width: 95vw;
                width: 95vw;
                // border: solid 1rem;
                margin-bottom: 5rem;
                h2 {
                    margin-bottom: 2.5rem;
                }
                p {
                    line-height: 1.5;
                }
            }
        }
    }
}
