extends bases/layout.pug
block prepend vars
    - var title = 'A propos'
block content
    main#Apropos
        section.Apropos
            figure: img(src=imgC+'devanture.png',alt='entrer')
            p La FNCUMA (Fédération Nationale des Coopératives d'Utilisation de Matériel Agricole) a été créée en 1945 (association sous le régime de la loi de 1901)
                |La FNCUMA est la tête de réseau des Coopératives d’Utilisation de Matériel Agricole (CUMA). Elle s'appuie sur un
                |réseau de 12 260 coopératives, de 65 fédérations de proximité, départementales ou interdépartementales regroupées au sein de 10 fédérations régionales.
                |Elle assure de multiples fonctions et mène des actions de terrain et des études (mécanisation, installation, emploi
                |et amélioration des conditions de travail, préservation de l'environnement, gestion de l'espace rural...) participant ainsi à l'amélioration du fonctionnement des Cuma et à la dynamique locale.
                |Elle apporte son expertise dans de nombreux domaines (agroéquipements, environnement, énergie, gestion de l'espace rural, emploi, ...)
                |auprès des Ministères et travaille conjointement avec les organisations professionnelles agricoles. La FNCUMA a tissé de nombreux partenariats avec les organismes de recherche et les instituts techniques  (Irstea, Ademe, Arvalis, ....).
