@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?a246u6');
  src:  url('../assets/fonts/icomoon.eot?a246u6#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?a246u6') format('truetype'),
    url('../assets/fonts/icomoon.woff?a246u6') format('woff'),
    url('../assets/fonts/icomoon.svg?a246u6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin iconattr {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scoop-it-logo:before {
  content: "\e900";
  color: #fff;
}
.icon-rss-symbol:before {
  content: "\e901";
  color: #fff;
}
.icon-linkedin:before {
  content: "\e902";
  color: #fff;
}
.icon-facebook:before {
  content: "\e903";
  color: #fff;
}
.icon-youtube:before {
  content: "\e904";
  color: #fff;
}
.icon-twitter:before {
  content: "\e905";
  color: #fff;
}
.icon-Line-4:before {
  content: "\e906";
}
.icon-Line:before {
  content: "\e907";
}
.icon-Triangle:before {
  content: "\e908";
  color: #d8d8d8;
}
.icon-france:before {
  content: "\e909";
  color: #7c7e81;
}
.icon-user:before {
  content: "\e90a";
  color: #fff;
}
