header {
    // width: 100vw;
    z-index: 99;
    // height: 20vh;
    // min-height: 20vh;
    grid-column: 1/2;
    grid-row: 1/2;
    .header-content {
        max-width: 122rem;
        width: 95vw;
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        h1 {
            width: 20vw;
            &.logo {
                a {
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                margin-right: 6rem;
                font-weight: bold;
                font-size: 1.5rem;
                // border: solid;
                &:hover {
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
                    &:before {
                        color: #fff;
                        cursor: pointer;
                    }
                }
                &:first-child {
                    &:before {
                        content: '\e909';
                        margin-right: 1.5rem;
                        color: #7c7e81;
                        @include iconattr;
                    }
                }
                &:nth-child(2) {
                    &:before {
                        content: '\e909';
                        margin-right: 1.5rem;
                        color: #7c7e81;
                        @include iconattr;
                    }
                }
                &:nth-child(3) {
                    &:before {
                        content: '\e90a';
                        margin-right: 1.5rem;
                        color: #7c7e81;
                        @include iconattr;
                    }
                }
                &:last-child {
                    a {
                        // border: solid 1rem;
                        width: 10rem;
                        background-color: #B0DCFD;
                        padding: 1rem;
                        border-radius: 10px;
                        height: 5rem;
                    }
                }
            }
        }
    }
    nav {
        background-color: #96D600;
        box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.3);
        figure {
            display: none;
        }
        ul {
            max-width: 120rem;
            width: 90vw;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 1rem 0;
            li {
                font-weight: bold;
                font-size: 1.5rem;
                width: 100px;
                text-align: center;
                a {
                    color: #fff;
                    white-space: nowrap;
                    &:hover {
                        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
                    }
                }
            }
        }
    }
}
