footer
    .footer-content
        .social-content
            h2 Retrouvez-nous sur les réseaux sociaux
            hr
            ul.social
                - var list = ['twitter','facebook','youtube','scoop-it-logo','rss-symbol','linkedin']
                each item in list
                    li: a(href="#",class='icon-'+item)
        ul.Associes
            - var list = ['cuma','logo_entraid']
            each item in list
                li: a(href="#"): img(src=imgL+item+'.svg')
        ul.infos
            - var list = ['Mentions légales', 'Plan du site']
            each item in list
                li: a(href="#")=item
            li Réaliser par MounyKEO
