header
    .header-content
        h1.logo
            a(href="index.html")
                img(src=imgL+"logo_mycuma_long.svg")
        ul
            li: a(href="contact.html") Contactez-nous
            li: a(href="events.html") Evenements
            li: a(href="#.html") Assistance : 09 75 18 28 18
            li: a(href="brochure.html") En savoir plus Brochure
    nav
        ul
            each val, index in {0:['Qui sommes-nous ?','propos'],1:['Notre activité','serviceList'],2:['Actualités','actualite'],3:['Vidéos','videosList']}
                li: a(href=val[1]+".html")=val[0]
            //- // - var list = ['Qui sommes-nous ?','Notre activité', 'Actualités', 'Vidéos']
            //- each item in list
                //- li: a(href="#")=item
