@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?a246u6");
  src: url("../assets/fonts/icomoon.eot?a246u6#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf?a246u6") format("truetype"), url("../assets/fonts/icomoon.woff?a246u6") format("woff"), url("../assets/fonts/icomoon.svg?a246u6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-scoop-it-logo:before {
  content: "\e900";
  color: #fff; }

.icon-rss-symbol:before {
  content: "\e901";
  color: #fff; }

.icon-linkedin:before {
  content: "\e902";
  color: #fff; }

.icon-facebook:before {
  content: "\e903";
  color: #fff; }

.icon-youtube:before {
  content: "\e904";
  color: #fff; }

.icon-twitter:before {
  content: "\e905";
  color: #fff; }

.icon-Line-4:before {
  content: "\e906"; }

.icon-Line:before {
  content: "\e907"; }

.icon-Triangle:before {
  content: "\e908";
  color: #d8d8d8; }

.icon-france:before {
  content: "\e909";
  color: #7c7e81; }

.icon-user:before {
  content: "\e90a";
  color: #fff; }

/**
* FONTS
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto 20%;
    min-height: 100vh; }
    html body main {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: center; }
    html body a {
      color: #000;
      text-decoration: none; }
      html body a:hover {
        text-shadow: 1px 1px 2px black; }
    html body p {
      font-size: 1.5rem; }
    html body ol,
    html body ul {
      list-style: none; }

header {
  z-index: 99;
  grid-column: 1/2;
  grid-row: 1/2; }
  header .header-content {
    max-width: 122rem;
    width: 95vw;
    margin: 2rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2rem; }
    header .header-content h1 {
      width: 20vw; }
      header .header-content h1.logo a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        header .header-content h1.logo a img {
          width: 100%; }
    header .header-content ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      header .header-content ul li {
        margin-right: 6rem;
        font-weight: bold;
        font-size: 1.5rem; }
        header .header-content ul li:hover {
          text-shadow: 1px 1px 2px black; }
          header .header-content ul li:hover:before {
            color: #fff;
            cursor: pointer; }
        header .header-content ul li:first-child:before {
          content: '\e909';
          margin-right: 1.5rem;
          color: #7c7e81;
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        header .header-content ul li:nth-child(2):before {
          content: '\e909';
          margin-right: 1.5rem;
          color: #7c7e81;
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        header .header-content ul li:nth-child(3):before {
          content: '\e90a';
          margin-right: 1.5rem;
          color: #7c7e81;
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        header .header-content ul li:last-child a {
          width: 10rem;
          background-color: #B0DCFD;
          padding: 1rem;
          border-radius: 10px;
          height: 5rem; }
  header nav {
    background-color: #96D600;
    -webkit-box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.3); }
    header nav figure {
      display: none; }
    header nav ul {
      max-width: 120rem;
      width: 90vw;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 1rem 0; }
      header nav ul li {
        font-weight: bold;
        font-size: 1.5rem;
        width: 100px;
        text-align: center; }
        header nav ul li a {
          color: #fff;
          white-space: nowrap; }
          header nav ul li a:hover {
            text-shadow: 1px 1px 2px black; }

footer {
  background-color: #96D600;
  color: #fff;
  grid-column: 1/2;
  grid-row: 3/4;
  -ms-flex-item-align: end;
  align-self: end; }
  footer .footer-content {
    max-width: 122rem;
    width: 95vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4rem 2.5rem; }
    footer .footer-content .social-content h2 {
      padding: 0 0 2rem 0; }
    footer .footer-content .social-content hr {
      border: 0.2rem solid; }
    footer .footer-content .social-content ul.social {
      padding: 2rem 0 0 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      footer .footer-content .social-content ul.social li a {
        font-size: 2rem; }
        footer .footer-content .social-content ul.social li a:hover:before {
          color: red; }
    footer .footer-content ul.Associes li {
      width: 20rem; }
      footer .footer-content ul.Associes li a img {
        width: 100%; }
    footer .footer-content ul.infos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      footer .footer-content ul.infos li {
        text-align: right; }
        footer .footer-content ul.infos li a {
          color: #fff; }

main#homepage {
  width: 100vw;
  min-width: 122rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  main#homepage section {
    min-width: 100vw;
    margin-top: 5rem; }
    main#homepage section#Presentation {
      margin-top: 0;
      min-width: 100vw;
      min-height: 80vh;
      height: 80vh;
      background: url("../assets/img/img-layout/PaysageAgricole.jpg");
      background-size: cover;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      main#homepage section#Presentation h1 {
        color: #fff;
        font-weight: 800;
        font-size: 9rem;
        text-shadow: 1px 1px 2px black; }
      main#homepage section#Presentation p {
        margin-top: 3rem;
        color: #fff;
        max-width: 66vw;
        line-height: 1.5;
        text-shadow: 1px 1px 2px black;
        font-size: 2rem; }
    main#homepage section#Services h2 {
      text-transform: uppercase;
      border-bottom: 0.3rem solid #7c7e81;
      max-width: 95vw;
      margin: 0 auto;
      padding-bottom: 1rem; }
    main#homepage section#Services > p {
      text-align: center;
      padding: 2rem;
      font-size: 1.5rem; }
    main#homepage section#Services ul.services {
      width: 100%;
      min-height: 100vh;
      display: grid;
      grid-template-columns: repeat(3, 33.33%);
      grid-template-rows: repeat(4, 25%);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      main#homepage section#Services ul.services li {
        width: 10rem;
        height: 10rem;
        border: solid #000;
        background: center no-repeat;
        background-size: 100% 100%; }
        main#homepage section#Services ul.services li.compta {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 1;
          grid-row: 1;
          justify-self: end; }
        main#homepage section#Services ul.services li.paie {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 2;
          grid-row: 1;
          justify-self: center; }
        main#homepage section#Services ul.services li.planning {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 3;
          grid-row: 1;
          justify-self: start; }
        main#homepage section#Services ul.services li.crm {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 1;
          grid-row: 2;
          justify-self: end; }
        main#homepage section#Services ul.services li.data {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 2;
          grid-row: 2;
          justify-self: center; }
        main#homepage section#Services ul.services li.travaux {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 3;
          grid-row: 2;
          justify-self: start; }
        main#homepage section#Services ul.services li.reseaux {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 1;
          grid-row: 3;
          justify-self: end; }
        main#homepage section#Services ul.services li.temps {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 2;
          grid-row: 3;
          justify-self: center; }
        main#homepage section#Services ul.services li.mecagest {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 3;
          grid-row: 3;
          justify-self: start; }
        main#homepage section#Services ul.services li.formation {
          background-image: url("../assets/img/img-layout/logo_entraid.svg");
          grid-column: 2;
          grid-row: 4;
          justify-self: center; }
    main#homepage section#Equipes h2 {
      text-transform: uppercase;
      border-bottom: 0.3rem solid #7c7e81;
      max-width: 95vw;
      margin: 0 auto;
      padding-bottom: 1rem; }
    main#homepage section#Equipes > p {
      text-align: center;
      padding: 2rem;
      font-size: 1.5rem; }
    main#homepage section#Equipes ul.equipes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      min-width: 90%;
      margin: 2rem auto; }
      main#homepage section#Equipes ul.equipes li {
        height: 15rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        main#homepage section#Equipes ul.equipes li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          main#homepage section#Equipes ul.equipes li a div {
            height: 10rem;
            width: 10rem;
            background: center no-repeat;
            background-size: 100% 100%;
            background-image: url("../assets/img/img-content/Equipe/employe.png"); }
          main#homepage section#Equipes ul.equipes li a p:nth-child(2) {
            margin-top: 0.5rem; }
          main#homepage section#Equipes ul.equipes li a p:last-child {
            margin-top: 1rem; }
    main#homepage section#Partenaires h2 {
      text-transform: uppercase;
      border-bottom: 0.3rem solid #7c7e81;
      max-width: 95vw;
      margin: 0 auto;
      padding-bottom: 1rem; }
    main#homepage section#Partenaires > p {
      text-align: center;
      padding: 2rem;
      font-size: 1.5rem; }
    main#homepage section#Partenaires ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      max-width: 95vw;
      margin: 2rem auto; }
      main#homepage section#Partenaires ul li {
        width: 10rem;
        height: 10rem; }
        main#homepage section#Partenaires ul li a {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 100%; }
          main#homepage section#Partenaires ul li a:hover {
            background-color: #96D600; }
          main#homepage section#Partenaires ul li a i {
            font-size: 8rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background: center no-repeat;
            background-size: 100% 100%; }
            main#homepage section#Partenaires ul li a i.JCB {
              background-image: url("../assets/img/img-content/partenaires/JCB.svg"); }
            main#homepage section#Partenaires ul li a i.LEMKEN {
              background-image: url("../assets/img/img-content/partenaires/LEMKEN.svg"); }
            main#homepage section#Partenaires ul li a i.RF {
              background-image: url("../assets/img/img-content/partenaires/RF.svg"); }
            main#homepage section#Partenaires ul li a i.rousseau {
              background-image: url("../assets/img/img-content/partenaires/rousseau.svg"); }
            main#homepage section#Partenaires ul li a i.trioplast {
              background-image: url("../assets/img/img-content/partenaires/trioplast.svg"); }

main#MentionLegale h1 {
  width: 95vw;
  line-height: 2.5;
  margin: 5rem auto;
  border-bottom: 0.3rem solid #7c7e81; }

main#MentionLegale section#MentionLegales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  heigth: 80vh;
  min-height: 80vh; }
  main#MentionLegale section#MentionLegales article {
    min-width: 95vw;
    width: 95vw;
    margin-bottom: 5rem; }
    main#MentionLegale section#MentionLegales article h2 {
      margin-bottom: 2.5rem; }
    main#MentionLegale section#MentionLegales article p {
      line-height: 1.5; }

main#videosList {
  width: 100vw;
  max-width: 122rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  main#videosList section#firstPlan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5rem; }
    main#videosList section#firstPlan figure {
      width: 65vw; }
      main#videosList section#firstPlan figure img {
        width: 100%; }
    main#videosList section#firstPlan h1 {
      font-size: 6rem;
      width: 65vw;
      margin: 3rem 0; }
    main#videosList section#firstPlan p {
      width: 65vw;
      text-align: justify; }
  main#videosList section#videosMin h2 {
    border-bottom: 0.3rem solid #7c7e81;
    margin: 4rem 0;
    font-size: 4rem;
    line-height: 2.5; }
  main#videosList section#videosMin ul.videos1, main#videosList section#videosMin ul.videos2, main#videosList section#videosMin ul.videos3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4rem; }
    main#videosList section#videosMin ul.videos1 li, main#videosList section#videosMin ul.videos2 li, main#videosList section#videosMin ul.videos3 li {
      width: 22%; }
      main#videosList section#videosMin ul.videos1 li a img, main#videosList section#videosMin ul.videos2 li a img, main#videosList section#videosMin ul.videos3 li a img {
        width: 100%; }
      main#videosList section#videosMin ul.videos1 li a h3, main#videosList section#videosMin ul.videos2 li a h3, main#videosList section#videosMin ul.videos3 li a h3 {
        padding: 1rem 0;
        font-size: 2rem; }
      main#videosList section#videosMin ul.videos1 li a p, main#videosList section#videosMin ul.videos2 li a p, main#videosList section#videosMin ul.videos3 li a p {
        text-align: justify; }
  main#videosList section#videosMin ul.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    border-top: 0.3rem solid #7c7e81; }
    main#videosList section#videosMin ul.pagination li {
      line-height: 3; }
      main#videosList section#videosMin ul.pagination li:nth-child(3) a {
        font-size: 3.5rem; }
      main#videosList section#videosMin ul.pagination li a {
        font-size: 2rem;
        letter-spacing: .6rem; }

main#ActualiteList {
  width: 100vw;
  max-width: 122rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  main#ActualiteList section#firstActu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5rem; }
    main#ActualiteList section#firstActu figure {
      width: 65vw; }
      main#ActualiteList section#firstActu figure img {
        width: 100%; }
    main#ActualiteList section#firstActu h1 {
      font-size: 6rem;
      width: 65vw;
      margin: 3rem 0; }
    main#ActualiteList section#firstActu p {
      width: 65vw;
      text-align: justify; }
  main#ActualiteList section#ActuMin h2 {
    border-bottom: 0.3rem solid #7c7e81;
    margin: 4rem 0;
    font-size: 4rem;
    line-height: 2.5; }
  main#ActualiteList section#ActuMin ul.Actu1, main#ActualiteList section#ActuMin ul.Actu2, main#ActualiteList section#ActuMin ul.Actu3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4rem; }
    main#ActualiteList section#ActuMin ul.Actu1 li, main#ActualiteList section#ActuMin ul.Actu2 li, main#ActualiteList section#ActuMin ul.Actu3 li {
      position: relative;
      width: 22%;
      height: 31rem;
      min-height: 31rem; }
      main#ActualiteList section#ActuMin ul.Actu1 li a img, main#ActualiteList section#ActuMin ul.Actu2 li a img, main#ActualiteList section#ActuMin ul.Actu3 li a img {
        width: 100%; }
      main#ActualiteList section#ActuMin ul.Actu1 li a h3, main#ActualiteList section#ActuMin ul.Actu2 li a h3, main#ActualiteList section#ActuMin ul.Actu3 li a h3 {
        padding: 1rem 0;
        font-size: 2rem; }
      main#ActualiteList section#ActuMin ul.Actu1 li a p, main#ActualiteList section#ActuMin ul.Actu2 li a p, main#ActualiteList section#ActuMin ul.Actu3 li a p {
        text-align: justify; }
      main#ActualiteList section#ActuMin ul.Actu1 li a:last-child, main#ActualiteList section#ActuMin ul.Actu2 li a:last-child, main#ActualiteList section#ActuMin ul.Actu3 li a:last-child {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 0; }
        main#ActualiteList section#ActuMin ul.Actu1 li a:last-child img, main#ActualiteList section#ActuMin ul.Actu2 li a:last-child img, main#ActualiteList section#ActuMin ul.Actu3 li a:last-child img {
          width: 100%; }
  main#ActualiteList section#ActuMin ul.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    border-top: 0.3rem solid #7c7e81; }
    main#ActualiteList section#ActuMin ul.pagination li {
      line-height: 3; }
      main#ActualiteList section#ActuMin ul.pagination li:nth-child(3) a {
        font-size: 3.5rem; }
      main#ActualiteList section#ActuMin ul.pagination li a {
        font-size: 2rem;
        letter-spacing: .6rem; }

main#EventList {
  width: 100vw;
  max-width: 122rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  main#EventList section#firstEvent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5rem; }
    main#EventList section#firstEvent figure {
      width: 65vw; }
      main#EventList section#firstEvent figure img {
        width: 100%; }
    main#EventList section#firstEvent > article {
      width: 65vw;
      display: grid;
      grid-template-rows: 20% 80%;
      grid-template-columns: repeat(2, 50%);
      margin-top: 5rem; }
      main#EventList section#firstEvent > article h1 {
        font-size: 6rem;
        grid-column: 1;
        grid-row: 1; }
      main#EventList section#firstEvent > article h2 {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
        font-size: 5.5rem;
        color: #7D7D7D; }
      main#EventList section#firstEvent > article p {
        grid-column: 1/3;
        grid-row: 2/3;
        text-align: justify;
        padding: 2rem 0; }
  main#EventList section#EventMin h2 {
    border-bottom: 0.3rem solid #7c7e81;
    margin: 4rem 0;
    font-size: 4rem;
    line-height: 2.5; }
  main#EventList section#EventMin ul.Event1, main#EventList section#EventMin ul.Event2, main#EventList section#EventMin ul.Event3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4rem; }
    main#EventList section#EventMin ul.Event1 li, main#EventList section#EventMin ul.Event2 li, main#EventList section#EventMin ul.Event3 li {
      width: 22%;
      height: 25rem;
      min-height: 25rem;
      display: grid;
      grid-template-columns: 10% 90%;
      grid-template-rows: 100%; }
      main#EventList section#EventMin ul.Event1 li a:first-child, main#EventList section#EventMin ul.Event2 li a:first-child, main#EventList section#EventMin ul.Event3 li a:first-child {
        grid-column: 1/3;
        grid-row: 1;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(2, 50%); }
        main#EventList section#EventMin ul.Event1 li a:first-child img, main#EventList section#EventMin ul.Event2 li a:first-child img, main#EventList section#EventMin ul.Event3 li a:first-child img {
          grid-column: 1/3;
          grid-row: 1/2; }
        main#EventList section#EventMin ul.Event1 li a:first-child h3, main#EventList section#EventMin ul.Event2 li a:first-child h3, main#EventList section#EventMin ul.Event3 li a:first-child h3 {
          grid-column: 1/3;
          grid-row: 2/3;
          font-size: 2rem;
          margin-top: 2rem; }
        main#EventList section#EventMin ul.Event1 li a:first-child p, main#EventList section#EventMin ul.Event2 li a:first-child p, main#EventList section#EventMin ul.Event3 li a:first-child p {
          grid-column: 2/3;
          grid-row: 2/3;
          -ms-flex-item-align: end;
          align-self: end; }
      main#EventList section#EventMin ul.Event1 li a:last-child, main#EventList section#EventMin ul.Event2 li a:last-child, main#EventList section#EventMin ul.Event3 li a:last-child {
        grid-column: 1/2;
        grid-row: 1;
        -ms-flex-item-align: end;
        align-self: end; }
  main#EventList section#EventMin ul.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    border-top: 0.3rem solid #7c7e81; }
    main#EventList section#EventMin ul.pagination li {
      line-height: 3; }
      main#EventList section#EventMin ul.pagination li:nth-child(3) a {
        font-size: 3.5rem; }
      main#EventList section#EventMin ul.pagination li a {
        font-size: 2rem;
        letter-spacing: .6rem; }

main#brochure {
  -ms-flex-item-align: center;
  align-self: center;
  width: 95vw;
  min-width: 95vw;
  min-height: 57vh;
  height: 57vh; }
  main#brochure section.formBrochure {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main#brochure section.formBrochure h1 {
      text-align: center;
      font-size: 4rem; }
    main#brochure section.formBrochure h2 {
      text-align: center;
      border-bottom: 0.3rem solid #7c7e81;
      padding-bottom: 1.5rem; }
    main#brochure section.formBrochure p {
      text-align: center;
      font-size: 1rem;
      line-height: 0; }
    main#brochure section.formBrochure form {
      width: 40vw;
      min-widht: 40vw;
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: repeat(4, 15%) auto;
      grid-row-gap: 2rem; }
      main#brochure section.formBrochure form label {
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 1.5rem;
        line-height: 1.5; }
        main#brochure section.formBrochure form label[for='prenom'] {
          grid-column: 1/2;
          grid-row: 1/2; }
        main#brochure section.formBrochure form label[for='nom'] {
          grid-column: 1/2;
          grid-row: 2/3; }
        main#brochure section.formBrochure form label[for='telephone'] {
          grid-column: 1/2;
          grid-row: 3/4; }
        main#brochure section.formBrochure form label[for='mail'] {
          grid-column: 1/2;
          grid-row: 4/5; }
      main#brochure section.formBrochure form input {
        height: 40px;
        text-indent: 15px;
        background-color: #f3f3f3;
        color: #979797;
        border: none;
        outline: none;
        line-height: 40px;
        border-radius: 3px;
        font-size: 1.5rem; }
        main#brochure section.formBrochure form input#prenom {
          grid-column: 2/3;
          grid-row: 1/2; }
        main#brochure section.formBrochure form input#nom {
          grid-column: 2/3;
          grid-row: 2/3; }
        main#brochure section.formBrochure form input#telephone {
          grid-column: 2/3;
          grid-row: 3/4; }
        main#brochure section.formBrochure form input#mail {
          grid-column: 2/3;
          grid-row: 4/5; }
        main#brochure section.formBrochure form input[type='submit'] {
          grid-column: 1/3;
          grid-row: 5/6;
          justify-self: center;
          width: 23rem;
          border: solid;
          padding-bottom: 4rem;
          padding-right: 1rem; }

main#Contact {
  -ms-flex-item-align: center;
  align-self: center;
  width: 95vw;
  min-width: 95vw;
  min-height: 57vh;
  height: 57vh; }
  main#Contact section.formContact {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 20% auto; }
    main#Contact section.formContact h2 {
      border-bottom: 0.3rem solid #7c7e81;
      padding-bottom: 1.5rem;
      grid-column: 1/3;
      grid-row: 1/2;
      -ms-flex-item-align: center;
      align-self: center; }
    main#Contact section.formContact article {
      padding: 0 8rem; }
      main#Contact section.formContact article.contact {
        grid-column: 1/2;
        grid-row: 2/3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        main#Contact section.formContact article.contact h3 {
          height: 10%;
          font-size: 1.5rem; }
        main#Contact section.formContact article.contact form {
          height: 90%;
          display: grid;
          grid-template-columns: repeat(3, 33.33%);
          grid-template-rows: repeat(2, 15%) auto 15%;
          grid-row-gap: 0.5rem;
          grid-column-gap: 1rem; }
          main#Contact section.formContact article.contact form input {
            height: 40px;
            text-indent: 15px;
            background-color: #f3f3f3;
            color: #979797;
            border: none;
            outline: none;
            line-height: 40px;
            border-radius: 3px;
            font-size: 1.5rem; }
            main#Contact section.formContact article.contact form input#nom {
              grid-column: 1/2;
              grid-row: 1/2; }
            main#Contact section.formContact article.contact form input#mail {
              grid-column: 2/3;
              grid-row: 1/2; }
            main#Contact section.formContact article.contact form input#telephone {
              grid-column: 3/4;
              grid-row: 1/2; }
            main#Contact section.formContact article.contact form input#objet {
              grid-column: 1/4;
              grid-row: 2/3; }
            main#Contact section.formContact article.contact form input[type='submit'] {
              grid-column: 1/2;
              grid-row: 4/5;
              width: 23rem;
              border: solid;
              padding-right: 1.5rem; }
          main#Contact section.formContact article.contact form textarea {
            grid-column: 1/4;
            grid-row: 3/4;
            resize: none; }
      main#Contact section.formContact article.adresseMapping {
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 5% auto 30%;
        grid-template-columns: 40% 60%; }
        main#Contact section.formContact article.adresseMapping h3 {
          grid-column: 1/3;
          grid-row: 1/2;
          font-size: 1.5rem; }
        main#Contact section.formContact article.adresseMapping figure {
          grid-column: 1/3;
          grid-row: 2/3;
          -ms-flex-item-align: center;
          align-self: center;
          width: 70%; }
          main#Contact section.formContact article.adresseMapping figure img {
            width: 100%; }
        main#Contact section.formContact article.adresseMapping .adresse {
          grid-column: 1/2;
          grid-row: 3/4; }
        main#Contact section.formContact article.adresseMapping .horaire {
          grid-column: 2/3;
          grid-row: 3/4; }

main#Apropos section.Apropos {
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  main#Apropos section.Apropos figure {
    width: 50%; }
    main#Apropos section.Apropos figure img {
      width: 100%; }
  main#Apropos section.Apropos p {
    text-align: justify;
    width: 50%;
    padding: 0 0 0 4rem;
    line-height: 1.5; }

main#Services {
  height: 100%;
  margin: 5rem 0;
  height: 100vh;
  min-height: 100vh; }
  main#Services h1 {
    text-transform: uppercase;
    border-bottom: 0.3rem solid #7c7e81;
    padding-bottom: 1rem; }
  main#Services ul.services {
    border: solid;
    width: 80vw;
    min-widht: 80vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(4, 25%);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0; }
    main#Services ul.services li {
      border: solid; }
      main#Services ul.services li.mycumacompta {
        grid-column: 1/2;
        grid-row: 1/2; }
      main#Services ul.services li.mycumadata {
        grid-column: 2/3;
        grid-row: 1/2; }
      main#Services ul.services li.mycumapaie {
        grid-column: 3/4;
        grid-row: 1/2; }
      main#Services ul.services li.mycumaplanning {
        grid-column: 1/2;
        grid-row: 2/3; }
      main#Services ul.services li.mycumatravaux {
        grid-column: 2/3;
        grid-row: 2/3; }
      main#Services ul.services li.mycumacrm {
        grid-column: 3/4;
        grid-row: 2/3; }
      main#Services ul.services li.mycumaformation {
        grid-column: 1/2;
        grid-row: 3/4; }
      main#Services ul.services li.mycumareseaux {
        grid-column: 2/3;
        grid-row: 3/4; }
      main#Services ul.services li.mycumatemps {
        grid-column: 3/4;
        grid-row: 3/4; }
      main#Services ul.services li.negaset {
        grid-column: 2/3;
        grid-row: 4/5; }
      main#Services ul.services li a img {
        width: 100%; }

/*# sourceMappingURL=styles.css.map */
